.step-form {
    /* border: 1px solid red; */
    width: 60%;
    /* max-width: 50%; */
    font-size: 2em;
    margin: 0 auto;
    /* text-align: center; */
}
.step-form > *, textarea {
    margin: .125em 0;
}
h2 {
    font-size: 2em;
    color: var(--gbs-color);
    align-self: flex-start;
    line-break: anywhere;
}
input, textarea, button {
    font-size: 1em;
    padding: .25em;
}
textarea {
    min-height: 4em;
    resize: none;
}
.checkbox {
    height: .75em;
    width: .75em;
    align-self: center;
    margin: 0 1em 0 5em;
}
.add-player-button {
    background: green;
    color: #fff;
    border: 0;
    padding: 8px;
    cursor: pointer;
}
.player-list {
    min-height: 8rem;
    align-items: flex-start;
    margin-top: 2em;
    flex-wrap: wrap;
    justify-content: inherit;
}
.player-list > div {
    margin: .25em .5em .25em 0;
    overflow: hidden;
    border: 1px solid gray;
}
.player-list p {
    align-self: center;
    padding: 0.125em .5em;
}
.player-list button {
    background: red;
    color: #fff;
    border: 0;
    padding: 0 .5rem;
    cursor: pointer;
}
.steps {
    margin: 2em 0;
}
.step-button {
    background: var(--gbs-color);
    color: #fff;
    border: 0;
    padding: 8px 12px;
    cursor: pointer;
}
.step-info {
    padding: 0 2em;
    align-self: center;
}
