@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --gbs-color: #009dcc;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus-visible {
  outline: none;
}
button {
  cursor: pointer;
}
button, button span, .logo-a, .active, .card, .svg-symbol, input, textarea, .player-list > div p, .team-list-sample > .team-div {
  transition: .2s;
  -webkit-transition: .2s;
}
button:hover, button:focus-visible,
button:hover span, button:focus-visible span,
.logo-a:hover, .logo-a:focus-visible,
.active:hover, .active:focus-visible,
.card-a:hover .card, .card-a:focus-visible .card,
input:focus-visible, textarea:focus-visible,
.player-list > div:hover p, .player-list > div:focus-visible p,
.team-list-sample > .team-div:hover, .team-list-sample > .team-div:focus-visible {
  transition: .2s;
  -webkit-transition: .2s;
}
.flex-row{
  display: flex;
  flex-direction: row;
}.flex-row-justify{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.flex-col{
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Roboto';
}

a{
  color: inherit;
  text-decoration: none;
}

#top-banner, footer {
  width: 100%;
  padding: .5em;
  text-align: center;
  color: white;
  background: var(--gbs-color);
  font-size: 1.25em;
  padding: .5em 0;
}

#top-header {
  height: 9rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  box-shadow: 0 0 1em gray;
}
#top-header > div {
  align-items: center;
}
#logo-icon {
  height: 64px;
  width: 64px;
  margin: 0 1em;
}
.logo-a:hover, .logo-a:focus-visible {
  transform: scale(1.05);
}

#fonts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navlink {
  --svg-navlink-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 2em;
  padding: .5em 1em;
  border-radius: 8px;
  padding: .5em 1em;
  margin: auto 0;
}
.navlink > svg {
  margin-right: .5em;
}
.svg-navlink {
  fill: var(--svg-navlink-color);
}
.navlink:not(.active):hover > p, .navlink:not(.active):focus-visible > p {
  border-top: .25rem solid transparent;
  border-bottom: .25rem solid var(--gbs-color);
}
.active {
  color: white;
  --svg-navlink-color: white ;
  background: var(--gbs-color);
}
.active:hover, .active:focus-visible {
  transform: scale(1.05);
}

#logo {
  font-family: logo;
  font-size: 3em;
  color: red;
  border-radius: .25em;
  border: 2px solid red;
  padding: .25em .25em 0;
  transform: skewX(-15deg);
}
.font2 {
  font-family: font2;
}
.font3 {
  font-family: font3;
}
#time {
  font-family: time;
  font-size: 4em;
  padding: .25em .25em .125em;
  border-radius: .25em;
  border: 2px solid black;
}

.content {
  min-height: 100vh;
  justify-content: space-between;
}
.content-div {
  padding: 1em;
  margin: 0;
}
.card {
  color: var(--svg-symbol-color);
  --svg-symbol-color: gray;
  height: 6em;
  width: 10em;
  font-size: 3em;
  align-items: center;
  border-radius: .5em;
  box-shadow: 0 0 .5em gray;
}
.card-a:hover .card, .card-a:focus-visible .card {
  color: var(--svg-symbol-color);
  --svg-symbol-color: black;
  box-shadow: 0 0 .75em var(--gbs-color);
  transform: scale(1.05);
}
.card > * {
  box-sizing: content-box;
  padding: .5em;
}
.card svg {
  height: 1em;
  width: 1em;
}
.svg-symbol {
  fill: var(--svg-symbol-color);
}

footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25em;
  padding: 1em 0;
}
.link:hover, .link:focus-visible {
  color: lightgray;
}

#secret {
  cursor: wait;
}


.grid-2-col-auto-50 {
  display: grid;
  grid-template-columns: auto 50%;
}
.grid-team-playernames {
  display: grid;
  grid-gap: .25em;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(var(--playername-columns), 1fr)
}
.grid-radios {
  display: grid;
  grid-template-columns: 2fr repeat(2,.1fr 1fr);
  grid-gap: .5em;
  justify-items: left;
}
.playername-columns-input {
  margin-left: auto !important;
  width: 2em;
  padding-top: 0;
  padding-bottom: 0;
}
.step-form {
  width: min(30em, 80vw);
  font-size: 2em;
  margin: 0 auto;
}
.step-form .input-box {
  outline: none;
  margin: .125em 0;
  border: 1px solid gray;
}
.step-form .input-box:focus-visible, .teamname-input:hover, .teamname-input:focus-visible {
  border-color: var(--gbs-color);
  border-style: solid;
}
.step-form input[type='radio']:focus-visible {
  outline-offset: .1em;
  outline-style: solid;
  outline-color: var(--gbs-color);
}
.step-form > *, textarea {
  margin: .125em 0;
}
h2 {
  font-size: 1.5em;
  color: var(--gbs-color);
  align-self: flex-start;
  line-break: anywhere;
}
input, textarea, button {
  font-size: 1em;
  padding: .25em;
}
textarea {
  min-height: 4em;
  resize: none;
}
.radio {
  height: .75em;
  width: .75em;
  align-self: center;
  justify-self: right;
}
.add-player-button {
  background: green;
  color: #fff;
  border: 0;
  padding: 8px;
  height: 1.75em;
  margin: .125em 0;
}
.add-player-button:hover, .add-player-button:focus-visible {
  background-color: limegreen;
}
.player-input {
  margin: .5em 0 2em 0;
}
.team-content {
  min-height: 8em;
}
.team-list-sample > .team-div {
  opacity: .5
}
.team-list-sample > .team-div:hover {
  opacity: 1
}
.team-div {
  padding-bottom: .325em;
  position: relative;
  border-bottom: .125em solid var(--gbs-color);
}
.team-div-real {
  width: 100%;
  align-self: center;
}
.team-div > div > svg {
  box-sizing: content-box;
  padding: 0 .5em;
}
.team-div > div {
  align-items: center;
}
.add-button-in-team {
  color: white;
  background-color: limegreen;
  border: 0;
  height: 1.25em;
}
.add-team-button{
  width: 8em;
  padding-top: 0;
  padding-bottom: 0;
}
.add-player-to-team-button {
  height: 1.25em;
  width: min(100%, 7em);
  margin: .375em 0 !important;
  padding: 0 .25em;
}
.add-button-in-team:hover, .add-button-in-team:focus-visible {
  background-color: green;
}
.teamname-input {
  width: 8em;
  padding-top: 0;
  padding-bottom: 0;
}
.playername-in-team {
  font-size: 1em;
  background-color: transparent;
  height: 1.75em;
  width: 100%;
  padding: 0 .25em;
}
.team-minus-button {
  background: red;
  margin: 0 .25em 0 auto !important;
  border: 0;
  padding: 0;
  position: relative;
  top: 0;
  right: 0;
  height: 1.1875em;
  width: 1.1875em;
}
.team-minus-button:hover {
  background-color: #c00;
}
.team-minus-button span {
  background: transparent;
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team-player-minus-button {
  background: red;
  border: 0;
  padding: 0;
  position: absolute;
  top: -.5em;
  right: -.5em;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
.team-player-minus-button:hover {
  background-color: #c00;
}
.team-player-minus-button span {
  background: transparent;
  color: #fff;
  font-size: .9em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  transform: translate(-50%, -50%);
  /* pointer-events: none; */
}
.player-in-team-div {
  position: relative;
  width: min(100%, 10em);
}
.player-in-team-div > .playername-in-team + .team-player-minus-button:hover,
.player-in-team-div > .playername-in-team + .team-player-minus-button:focus,
.player-in-team-div > .playername-in-team:focus-visible + .team-player-minus-button {
  opacity: 1;
  pointer-events: inherit;
}
.steps {
  margin: 2em 0 1em;
}
.next-step-button {
  background: var(--gbs-color);
  color: #fff;
  border: 0;
  padding: 8px 12px;
}
.next-step-button:hover, .next-step-button:focus-visible {
  background-color: skyblue;
}
.step-info {
  padding: 0 2em;
  align-self: center;
}
