@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --gbs-color: #009dcc;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus-visible {
  outline: none;
}
button {
  cursor: pointer;
}
button, button span, input, textarea, .logoA, .active, .card, .teamListSample > .teamDiv {
  transition: .2s;
  -webkit-transition: .2s;
}
button:hover, button:focus-visible,
button:hover span, button:focus-visible span,
input:focus-visible, textarea:focus-visible,
.logoA:hover, .logoA:focus-visible,
.active:hover, .active:focus-visible,
.cardA:hover .card, .cardA:focus-visible .card,
.teamListSample > .teamDiv:hover, .teamListSample > .teamDiv:focus-visible {
  transition: .2s;
  -webkit-transition: .2s;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-row-justify{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.flex-col{
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Roboto';
}

a{
  color: inherit;
  text-decoration: none;
}

.banner {
  width: 100%;
  padding: .5em;
  text-align: center;
  color: white;
  background: var(--gbs-color);
  font-size: 1.25em;
  padding: .5em 0;
}

.topHeader {
  height: 9rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  box-shadow: 0 0 1em gray;
}
.topHeader > div {
  align-items: center;
}
.logoIcon {
  height: 64px;
  width: 64px;
  margin: 0 1em;
}

.navlink {
  --svg-navlink-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 2em;
  padding: .5em 1em;
  border-radius: 8px;
  padding: .5em 1em;
  margin: auto 0;
}
.navlink svg {
  margin-right: .5em;
}
.navlink svg path {
  fill: var(--svg-navlink-color);
}
.navlink:not(.active):hover > p, .navlink:not(.active):focus-visible > p {
  border-top: .25rem solid transparent;
  border-bottom: .25rem solid var(--gbs-color);
}
.active {
  color: white;
  --svg-navlink-color: white ;
  background: var(--gbs-color);
}
.active:hover, .active:focus-visible {
  transform: scale(1.05);
}

.logoP {
  font-family: logo;
  font-size: 3em;
  color: red;
  border-radius: .25em;
  border: 2px solid red;
  padding: .25em .25em 0;
  transform: skewX(-15deg);
}
.time {
  font-family: time;
  font-size: 4em;
  padding: .25em .25em .125em;
  border-radius: .25em;
  border: 2px solid black;
}

.content {
  min-height: 100vh;
  justify-content: space-between;
}
.contentDiv {
  padding: 1em;
  margin: 0;
}
.card {
  color: var(--svg-symbol-color);
  --svg-symbol-color: gray;
  height: 6em;
  width: 10em;
  font-size: 3em;
  align-items: center;
  border-radius: .5em;
  box-shadow: 0 0 .5em gray;
}
.cardA:hover .card, .cardA:focus-visible .card {
  color: var(--svg-symbol-color);
  --svg-symbol-color: black;
  box-shadow: 0 0 .75em var(--gbs-color);
  transform: scale(1.05);
}
.card > * {
  box-sizing: content-box;
  padding: .5em;
}
.card svg {
  height: 1em;
  width: 1em;
}
.card svg path {
  fill: var(--svg-symbol-color);
}

.theFooter {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25em;
  padding: 1em 0;
}
.link:hover, .link:focus-visible {
  color: lightgray;
}

.secret {
  cursor: wait;
}

.gridSplit {
  display: grid;
  grid-template-columns: auto 50%;
}
.gridTeamPlayernames {
  display: grid;
  grid-gap: .25em;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(var(--playername-columns), 1fr)
}
.gridRadios {
  display: grid;
  grid-template-columns: 2fr repeat(2,.1fr 1fr);
  grid-gap: .5em;
  justify-items: left;
}
.playernameColumnsInput {
  margin-left: auto !important;
  width: 2em;
  padding-top: 0;
  padding-bottom: 0;
}
.stepForm {
  width: min(30em, 80vw);
  font-size: 2em;
  margin: 0 auto;
}
.inputBox {
  outline: none;
  margin: .125em 0;
  border: 1px solid gray;
}
.inputBox:focus-visible, .teamnameInput:hover {
  border-color: var(--gbs-color);
  border-style: solid;
}
.radio:focus-visible {
  outline-offset: .1em;
  outline-style: solid;
  outline-color: var(--gbs-color);
}

h2 {
  font-size: 1.5em;
  color: var(--gbs-color);
  align-self: flex-start;
  line-break: anywhere;
}
input, textarea, button {
  font-size: 1em;
  padding: .25em;
}
textarea {
  min-height: 4em;
  resize: none;
  margin: .125em 0;
}
.radio {
  height: .75em;
  width: .75em;
  align-self: center;
  justify-self: right;
}
.addPlayerButton {
  background: green;
  color: #fff;
  border: 0;
  padding: 8px;
  height: 1.75em;
  margin: .125em 0;
}
.addPlayerButton:hover, .addPlayerButton:focus-visible {
  background-color: limegreen;
}
.playerInput {
  margin: .5em 0 2em 0;
}
.teamContent {
  min-height: 8em;
}
.teamListSample > .teamDiv {
  opacity: .5
}
.teamListSample > .teamDiv:hover {
  opacity: 1
}
.teamDiv {
  padding-bottom: .325em;
  position: relative;
  border-bottom: .125em solid var(--gbs-color);
}
.teamDivReal {
  width: 100%;
  align-self: center;
}
.teamDiv > div > svg {
  box-sizing: content-box;
  padding: 0 .5em;
}
.teamDiv > div {
  align-items: center;
}
.addButtonInTeam {
  color: white;
  background-color: limegreen;
  border: 0;
  height: 1.25em;
}
.addTeamButton{
  width: 8em;
  padding-top: 0;
  padding-bottom: 0;
}

.addButtonInTeam:hover, .addButtonInTeam:focus-visible {
  background-color: green;
}
.teamnameInput {
  width: 8em;
  padding-top: 0;
  padding-bottom: 0;
}
.errorInput::placeholder {
  color: red;
  opacity: 1;
}
.playernameInTeam {
  font-size: 1em;
  background-color: transparent;
  height: 1.75em;
  width: 100%;
  padding: 0 .25em;
}
.teamMinusButton {
  background: red;
  margin: 0 .25em 0 auto !important;
  border: 0;
  padding: 0;
  position: relative;
  top: 0;
  right: 0;
  height: 1.1875em;
  width: 1.1875em;
}
.teamMinusButton:hover {
  background-color: #c00;
}
.teamMinusButton span {
  background: transparent;
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.teamPlayerMinusButton {
  background: red;
  border: 0;
  padding: 0;
  position: absolute;
  top: -.5em;
  right: -.5em;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}
.teamPlayerMinusButton:hover {
  background-color: #c00;
}
.teamPlayerMinusButton span {
  background: transparent;
  color: #fff;
  font-size: .9em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  transform: translate(-50%, -50%);
  /* pointer-events: none; */
}
.playerInTeamDiv {
  position: relative;
  width: min(100%, 10em);
}
.playerInTeamDiv > .playernameInTeam + .teamPlayerMinusButton:hover,
.playerInTeamDiv > .playernameInTeam:hover + .teamPlayerMinusButton {
  opacity: 1;
  pointer-events: inherit;
}
.errorP {
  color: red;
  position: absolute;
  bottom: -1.5em;
}
.steps {
  margin: 2em 0 1em;
}
.nextStepButton {
  background: var(--gbs-color);
  color: #fff;
  border: 0;
  padding: 8px 12px;
}
.nextStepButton:hover, .nextStepButton:focus-visible {
  background-color: skyblue;
}
.stepInfo {
  padding: 0 2em;
  align-self: center;
}
